@if (!loading && clusters.length > 0) {
  <nb-select
    class="header-select"
    [(selected)]="activeCluster"
    [compareWith]="compareById"
    (selectedChange)="onClusterChange($event)"
    [placeholder]="'选择集群' | translate"
    size="small"
    status="basic">
    <nb-select-label>
      <span class="header-select-label">
        <nb-icon icon="cube-outline"></nb-icon>
        <span>{{  activeCluster?.name || ('选择集群' | translate)  }}</span>
      </span>
    </nb-select-label>
    @for (cluster of clusters; track cluster) {
      <nb-option [value]="cluster" [title]="cluster.name">{{ cluster.name }}</nb-option>
    }
  </nb-select>
}
@if (!loading && clusters.length === 0) {
  <button
    nbButton
    size="small"
    status="basic"
    (click)="goToClusterManagement()">
    <nb-icon icon="plus-outline"></nb-icon>
    {{ '添加集群' | translate }}
  </button>
}
