@if (!loading && clusters.length > 0) {
  <nb-select
    [(selected)]="activeCluster"
    [compareWith]="compareById"
    (selectedChange)="onClusterChange($event)"
    placeholder="选择集群"
    status="primary"
    >
    @for (cluster of clusters; track cluster) {
      <nb-option [value]="cluster">{{ cluster.name }}</nb-option>
    }
  </nb-select>
}
@if (!loading && clusters.length === 0) {
  <button
    nbButton
    size="small"
    status="primary"
    (click)="goToClusterManagement()"
    >
    添加集群
  </button>
}
